@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

.HOME{
  background-image: url("./images/desktop/image-hero.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;

}
nav > ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: white;
  font-size: 1.5em;
  justify-content: flex-end;
  gap: 1vw;
  margin-right: 1em;
  font-family: 'Josefin Sans', sans-serif;
}
li{
  cursor: pointer;
}
.primoul > li:hover{
  text-decoration-line: underline;
  padding-top: 5px;
  transition: 200ms ease-in-out
}
nav{
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
nav > h2{
  color: white;
  margin: 0;
  border: 0;
  margin-left: 1em;
  font-family: 'Alata', sans-serif;
}
.HOME > p{
  display: inline-block;
  color: white;
  font-size: calc(1em + 2vw);
  padding: 1em;
  border: 1px solid white;
  margin-left: 2em;
  margin-top: 2em;
  font-family: 'Josefin Sans', sans-serif;
}
.minimenu{
  display: none;
}

.afterhome{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: 80vh;
  padding: calc(1em + 3vw);
  text-align: center;
  justify-content: center;
  margin-bottom: 10vh;
}
.afterhomescritto{
  flex-basis: 40%;

  padding: 2em;
  background-color: white;
  margin-left: -80px;
  margin-top: 13%;
  width: 600px;
}
.afterhomescritto > h1{
  font-family: 'Josefin Sans', sans-serif;
  font-size: calc( 1em + 2vw);
  weight: 100;
}
.afterhomescritto > p{
  font-family: 'Alata', sans-serif;
  font-size: calc( 1em + 0.5vw);
}
.afterhome > img{
  max-height: 500px;
  min-width: 300px;
}

.lastsection{
  display: flex;
  flex-direction: column;
  gap: 2em;
  flex-wrap: wrap;
  margin-bottom: 5%;
  width: 100%;
}
.tabella{
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}
.Deepearth{
  background-image: url("./images/desktop/image-deep-earth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  min-width: 200px;
  flex-basis: 15%;
}
.Nightarcade{
  background-image: url("./images/desktop/image-night-arcade.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  min-width: 200px;
  flex-basis: 15%;
}
.Soccerteam{
  background-image: url("./images/desktop/image-soccer-team.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  min-width: 200px;
  flex-basis: 15%;
}
.Thegrid{
  background-image: url("./images/desktop/image-grid.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  min-width: 200px;
  flex-basis: 15%;
}
.tabella2{
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
  color: white;
}
.Fromupabove{
  background-image: url("./images/desktop/image-from-above.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 15%;
  height: 450px;
  min-width: 200px;
}
.Pocket{
  background-image: url("./images/desktop/image-pocket-borealis.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 15%;
  height: 450px;
  min-width: 200px;
}
.Thecuriosity{
  background-image: url("./images/desktop/image-curiosity.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 15%;
  height: 450px;
  min-width: 200px;
}
.Makeit{
  background-image: url("./images/desktop/image-fisheye.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 15%;
  height: 450px;
  min-width: 200px;
}
.tabella2 > * > * > h3, .tabella > * > * > h3{
  position: relative;
  top: 350px;
  padding: 1em;
  font-family: 'Josefin Sans', sans-serif;
}
.lastsectionscritta{
  display: flex;
  justify-content: space-between;
}
.lastsectionscritta > h1{
  font-family: 'Josefin Sans', sans-serif;
  padding-left: 2.5em;
  font-size: 1.75em;
}
.lastsectionscritta > h2{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin-right: calc(0.75em + 1vw);
  line-height: 1.90em;
  width: 6em;
  height: 5vh;
  font-size: 1.15em;
  background-color: black;
  color: white;
  cursor: pointer;
}
.bgwhite{
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.bgwhite:hover{
  color: black;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

footer{
  background-color: black;
  width: 100%;
  color: white;
  font-family: 'Alata', sans-serif;

}
#underline0, #underline1, #underline2, #underline3, #underline4{
  background-color: white;
  transform: scale(0);
}
#underline0.active, #underline1.active, #underline2.active, #underline3.active, #underline4.active{
  background-color: white;
  transform: scale(1);
  transition: 200ms ease-in-out;
}
td{
  border: 5px solid black;
  z-index: 10;
  cursor: pointer;
}
.footerflex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tendina{
  color: white;
  background: black;
  max-width: 800px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: scale(0);
  transition: ease-in-out 300ms;
}
.tendina.active{
 transform: scale(1);
 transition: ease-in-out 300ms;
}
.tendina > ul {
  list-style: none;
  color: white;
  font-size: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
}
.ultendina li{
  padding: 0.35em;
  padding-left: 0;
  width:150px;
}
.ultendina li:hover{
  color: orange;
}
.tendinanavbar{
  display: flex;
  gap: 6em;
  justify-content: flex-start;
  margin-left: 5px;
  margin-bottom: 2em;
}
.tendinanavbar > h1{
    font-family: 'Alata', sans-serif;

}
.tendinanavbar > h2{
  margin-top: 0.30em;
}
@media (max-width: 800px) {
  .Deepearth{
    background-image: url("./images/mobile/image-deep-earth.jpg");
    background-size: contain;
    max-height: 120px;
    background-repeat: no-repeat;
    flex-basis: 80%;
  }
  .Nightarcade{
    background-image: url("./images/mobile/image-night-arcade.jpg");
    background-size: contain;
    max-height: 120px;
    background-repeat: no-repeat;
    flex-basis: 80%;
  }
  .Soccerteam{
    background-image: url("./images/mobile/image-soccer-team.jpg");
    background-size: contain;
    background-position: center;
    max-height: 120px;
    background-repeat: no-repeat;
    flex-basis: 80%;
  }
  .Thegrid{
    background-image: url("./images/mobile/image-grid.jpg");
    background-size:  contain;
    max-height: 120px;
    background-repeat: no-repeat;
    flex-basis: 80%;
  }
  .Fromupabove{
    background-image: url("./images/mobile/image-from-above.jpg");
    background-size:  contain;
    max-height: 120px;
    background-repeat: no-repeat;
    flex-basis: 80%;
  }
  .Pocket{
    background-image: url("./images/mobile/image-pocket-borealis.jpg");
    background-size:  contain;
    max-height: 120px;
    background-repeat: no-repeat;
    flex-basis: 80%;
  }
  .Thecuriosity{
    background-image: url("./images/mobile/image-curiosity.jpg");
    background-size:  contain;
    max-height: 120px;
    background-repeat: no-repeat;
    flex-basis: 80%;
  }
  .Makeit{
    background-image: url("./images/mobile/image-fisheye.jpg");
    background-size:  contain;
    max-height: 120px;
    background-repeat: no-repeat;
    flex-basis: 80%;
  }
  .tabella2 > * > * > h3, .tabella > * > * > h3{
    position: relative;
    top: 0;
    padding: 1em;
    font-family: 'Josefin Sans', sans-serif;
  }
  .afterhome{
    margin-top: 3vh;
    flex-basis: 80%;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }
  .afterhome > img{
    max-height: 30vh;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .afterhomescritto{
    margin-left: 0;
    width: 80%;

    margin: 0;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .afterhomescritto > h1{
    font-size: calc( 0.5em + 1.5vw);
  }
  .afterhomescritto > p{
    font-size: calc( 0.5em + 1.30vw);
  }
  .afterhome > img{
    width: 70%;
  }
  .HOME{
    background-image: url("./images/mobile/image-hero.jpg");
    background-size: cover;

  }
  .lastsectionscritta > h1{
    font-size: calc(1em + 0.5vw);
    padding-left: calc(1em + 1.25vw);
  }
  .lastsectionscritta > h2{
    margin-right: 1vw;
    font-size: calc(0.5em + 0.5vw);
    height: 3vh;
  }
  nav > ul{
    display: none;
  }
  .minimenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bar-1{
    width: 15px;
    margin-bottom: 2px;
    height: 4px;
    border-radius: 5px;
    background-color: white;
    transform: translateY(50%);
    cursor: pointer;
  }
}
